*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
.colores{

    }
body{
    font-family: 'Source Code Pro';
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#595959;
    /* display: grid; */
}
.div > div {
    width: 500px;
    aspect-ratio: 1;
    border: 1px red solid;
}
.fly-bttn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%; /* make the button round */
    position: absolute;
    transition: transform 0.2s ease-out;
}
.fly-bttn:hover{
    cursor: pointer;
}
.button-div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}