*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
* a{
    scroll-behavior: smooth;
    text-decoration: none;
    color: black;
}
:root{
    --divAreaWth: 350px;
    --divBttWth: 300px;
    --bttWth: 30px;
}

body{
    font-family: 'Source Code Pro';
    background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.divs-areas{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.div-area{
    width: var(--divAreaWth);
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#595959;
    position: absolute;
}
#div1{
    top: 50%;
    left: 20%;
}
#div2{
    top: 20%;
    left: 15%;
}
#div3{
    top: 35%;
    right: 10%;
}
#div4{
    top: 5%;
    right: 20%;
}
.button-div {
    width: var(--divBttWth);
    aspect-ratio: 1;
    border: 1px red solid;
    border-radius: 50%; /* make the area round */
}
.fly-bttn {
    background-color: blue;
    color: white;
    border: none;
    width: var(--bttWth);
    aspect-ratio: 1;
    border-radius: 50%; /* make the button round */
    position: absolute;
    transition: transform 0.2s ease-out;
    font-size: 8px;
}
.fly-bttn:hover{
    cursor: pointer;
}
.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}